:root{
    --main-color:#F1FAEE; 
    --secondary-color:#e63946;
    --backgorund-color:#A8DADC;
    --dark-blue:#1D3557;

    --gap:1rem;
    --border-radius:5px;

    --padding:1.2rem;
    --btn-padding:0.75rem;
    --margin:1.2rem;

    --font-lg:1.2rem;
    --font-xlg:1.8rem;
    --font-sl:0.75rem;
    --font-md:1rem;
}

/* 
May add text-shadow.

*/

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}

html{
    font-size:16px;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    cursor: default;
    font-size: var(--font-sl);
}

h1,h2,h3,h4,p {
    color: inherit;
    cursor: default;
}

h2{
    font-size: var(--font-lg);
}

h4{
    font-size: var(--font-md);
}

button {
    all: unset;
    cursor: pointer;
    transition: all 0.04s ease-in;
}

i {
    font-size:var(--font-lg);
}

article{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
    border:1px solid var(--dark-blue);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--dark-blue);
}

/* ----  Layout  ---- */

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: minmax(18%, 210px) 57.5% 24.5%;
    background-color: var(--backgorund-color);
    color: var(--dark-blue);
}

/* Nav */

nav {
    grid-column: 1/2;
    background-color: var(--secondary-color);
    color: var(--dark-blue);
    font-size: 1rem;
    grid-row: 1/3; /* check if neccassary at end */
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: var(--padding);
}

.nav-link {
    padding:var(--btn-padding) var(--padding);
    font-size: var(--font-md);
}

.nav-link:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 1px var(--dark-blue);
}

.nav-link:active {
    box-shadow: 0px 0px 1px 0px var(--dark-blue);
    transform: scale(1.033);
}

nav>a>i {
    width: 20px;
    margin-right: var(--margin);
}

/* Header */

header {
    grid-column: 2/4;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: 1fr 1fr;
    padding: var(--padding);
    box-shadow: 0 0 0.33rem 0 var(--dark-blue);
}

.search-bar {
    grid-area: 1/1/2/2;
    margin-bottom: var(--margin);
}

#profile-info {
    grid-area:1/2/2/3 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    margin-bottom: var(--margin);
}

#profile-info>h3{
    font-size: var(--font-lg);
}

#user-dashboard-container {
    grid-area:2/1/3/2 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-dashboard-container #welcome-container {
    display: grid;
    grid-template: repeat(2,1fr)/75px auto;
    max-width: 400px;
    align-items: center;
}

#user-dashboard-container #welcome-container>div {
    margin-left: var(--margin);
}

#welcome-container>div:last-child {
    font-size: var(--font-lg);
}

#user-dashboard-container #welcome-container .avatar-lg {
    grid-area: 1/1/3/2;
}

.status-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    padding-top: 0.5rem;
}

/* Section */

section {
    grid-column: 2/3;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.archive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: var(--gap);
    grid-auto-flow: dense;
    margin-top: var(--margin);
}

.archive>article {
    border-left: 0.8rem solid var(--dark-blue);
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.article-buttons{
    display: inline-flex;
    justify-content: flex-end;
    gap: var(--gap);
    margin-top: var(--margin);
}

.article-buttons>button{
    margin-right: 0.5rem;
}

/* Aside */

aside {
    grid-column: 3/4;
    padding: var(--padding);
}

#announcement-container{
    margin-bottom: var(--margin);
}

#announcement-container>article{
    padding: var(--padding);
    margin-top: var(--margin);
    gap: var(--gap);
}

#trend-Container > article{
    display: flex;
    flex-direction: row;
    margin-top: var(--margin);
}

/* Module */

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-lg);
    margin-bottom:var(--margin);
}

#logo>i {
    margin-right: 1.75rem;
}

#logo>h1{
    cursor: pointer;
} 

.btn{
    background-color: var(--secondary-color);
    color: var(--dark-blue);
    padding: var(--btn-padding);
    border-radius: 1.33rem;
    font-size: var(--font-md);
}

.btn:hover {
    background-color: var(--backgorund-color);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar>input {
    border: 1px solid var(--dark-blue);
    border-radius:var(--border-radius);
    padding: var(--padding);
    height: 42px;
    outline: none;
    width: 25%;
    background-color: var(--backgorund-color);
    color: var(--dark-blue);
    text-overflow: ellipsis;
    opacity: 0.6;
    font-size: var(--font-sl);
}

.search-bar>input:focus{
    width: 80%;
    opacity: 1;
}

.search-btn:hover {
    background-color: var(--backgorund-color);
}

.search-btn:active ~ .search-text {
    transform: scale(0.8);
    opacity: 1;
}

.search-btn {
    border-radius: 50%;
    /* width: 34px;
    height: 34px; */
    margin-right: var(--margin);
    text-align: center;
    padding: var(--btn-padding);
    background-color: var(--secondary-color);
}

.avatar-sl i {
    font-size: 3rem;
}

.avatar-lg i {
    font-size: 4.25rem;
}

.article-btn:hover {
    color: var(--secondary-color);
}

.article-btn:active{
    transform:rotate(33deg);
}

.user-name{
    font-weight: bolder;
}

 /* State */

.bold{
    font-weight: bolder;
}

.lg-text {
    font-size: 1.5rem;
}

.btn-shadow {
    -webkit-box-shadow: 3px 2px 0px 0px var(--dark-blue);
    box-shadow: 3px 2px 0px 0px var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.btn-shadow:active {
    -webkit-box-shadow: 1px 1px 2px 0px var(--dark-blue);
    box-shadow: 1px 1px 2px 0px var(--dark-blue);
    transform: translate(2px,1px);
}

.article-shadow{
    box-shadow: 2px 2px 4px 0 var(--dark-blue);
}

.article-shadow:hover{
    transform: scale(1.01666);
    border-color: var(--secondary-color);
}

/* RESPONSIVE */

@media screen and (min-width: 2600px) {

}