:root{
    --main-color:#F1FAEE; 
    --secondary-color:#e63946;
    --backgorund-color:#A8DADC;
    --dark-blue:#1D3557;
}

/* 
May add text-shadow.

*/

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,p {
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

i {
    font-size: 1.2rem;
}

/* ----  Layout  ---- */

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: minmax(18%, 210px) 57.5% 24.5%;
    background-color: var(--backgorund-color);
    color: var(--dark-blue);
}

/* Nav */

nav {
    grid-column: 1/2;
    background-color: var(--secondary-color);
    color: var(--dark-blue);
    font-size: 1rem;
    grid-row: 1/3; /* check if neccassary at end */
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 1.4rem;
}

nav>.nav-link {
    padding:0.5rem 1.4rem;
}

nav>.nav-link:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 1px var(--dark-blue);
}

nav>.nav-link:active {
    box-shadow: 0px 0px 1px 0px var(--dark-blue);
    transform: scale(1.033);
}

nav>a>i {
    width: 20px;
    padding-right: 30px;
}

/* Header */

header {
    grid-column: 2/4;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: 1fr 1fr;
    padding: 1.4rem;
    box-shadow: 0 0 0.33rem 0 var(--dark-blue);
}

header .search-bar {
    grid-area: 1/1/2/2;
    margin-bottom: 1.2rem;
}

header #profile-info {
    grid-area:1/2/2/3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.2rem;
}

header #user-dashboard-container {
    grid-area:2/1/3/2 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #user-dashboard-container #welcome-container {
    display: grid;
    grid-template: repeat(2,1fr)/75px auto;
    max-width: 400px;
    align-items: center;
}

header #user-dashboard-container #welcome-container>div {
    margin-left: 1.2rem;
}

header #user-dashboard-container #welcome-container .avatar-lg {
    grid-area: 1/1/3/2;
}

header .status-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.2rem;
    padding-top: 0.5rem;
}

/* Section */

section {
    grid-column: 2/3;
    padding: 1.33rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.archive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    grid-gap: 1.2rem;
    grid-auto-flow: dense;
}

section>.archive>article {
    display: flex;
    flex-direction: column;
    /* width:minmax(250px,100%); */
    gap: 1rem;
    padding: 1.5rem;
    border:1px solid var(--dark-blue);
    border-radius: 2px;
    border-left: 0.8rem solid var(--dark-blue);
    box-shadow: 2px 2px 4px 0 var(--dark-blue);
}

.archive>article:hover {
    transform: scale(1.01666);
    border-color: var(--secondary-color);
}

.article-buttons{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.article-buttons>button{
    margin-right: 0.5rem;

}

/* Aside */

aside {
    grid-column: 3/4;
}

article {
    background-color: var(--main-color);
    color: var(--dark-blue);
}

footer {
    grid-column: 1/4;
}

/* Module */

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#logo>i {
    font-size: 2.5rem;
    margin-right: 1.2rem;
}

.btn{
    background-color: var(--secondary-color);
    color: var(--dark-blue);
    padding: 0.5rem 1.5rem;
    border-radius: 1.33rem;
}

.btn:hover {
    background-color: var(--backgorund-color);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar>input {
    border: 1px solid var(--dark-blue);
    border-radius: 20px;
    padding: 10px 20px;
    height: 42px;
    outline: none;
    width: 10%;
    background-color: var(--backgorund-color);
    color: var(--dark-blue);
    text-overflow: ellipsis;
}

.search-bar>input:focus{
    width: 80%;
}

.search-btn:hover {
    background-color: var(--backgorund-color);
}

.search-btn:active ~ .search-text {
    transform: scale(0.8);
}

.search-btn {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 25px;
    margin-right: 2rem;
    text-align: center;
    font-size: 0.8rem;
    padding: 3px;
    background-color: var(--secondary-color);
}

.avatar-sl i {
    font-size: 50px;
}

.avatar-lg i {
font-size: 75px;
}

.article-btn:hover {
    color: var(--secondary-color);
}

.article-btn:active{
    transform:rotate(45deg);
}

 /* State */

.bold{
    font-weight: bolder;
}

.lg-text {
    font-size: 1.5rem;
}

.btn-shadow {
    -webkit-box-shadow: 3px 2px 0px 0px var(--dark-blue);
    box-shadow: 3px 2px 0px 0px var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.btn-shadow:active {
    -webkit-box-shadow: 1px 1px 2px 0px var(--dark-blue);
    box-shadow: 1px 1px 2px 0px var(--dark-blue);
    transform: translate(2px,1px);
}